src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
	<flow name="new-relic-mulesoft-integration" doc:id="a60ae071-f040-4708-8ce2-290d7006bd54" >
		<http:listener doc:name="Listener" doc:id="7450df81-82c4-4a45-a802-7732b168d128" path="/hello" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Payload for new relic" doc:id="83da8b4e-ecee-42e8-9d0f-323904654f8e" message='#[output application/json&#10;---&#10;{&#10;    "DocumentID": "1",&#10;    "eventType": "InsightsLogs",&#10;    "muleAppName": "new-relic-api",&#10;    "CreationDate": now(),&#10;    "message": "Entry Added Successfully."&#10;}]'/>
	</flow>
	<flow name="newRelicAndSqsCreateFlow" doc:id="37f2a680-9d95-4409-9659-342d443723e0" >
		<http:listener doc:name="Listener" doc:id="e6cd28ce-8e9e-42e3-8c4e-7ca1a52cf717" path="/createQueue" config-ref="HTTP_Listener_config"/>
		<sqs:create-queue doc:name="Create queue" doc:id="f6b7f43c-77fe-4f16-beff-df8459fd2b14" queueName="${sqs.queueName}" config-ref="Amazon_SQS_Configuration"/>
		<logger level="INFO" doc:name="Queue Created Successfully" doc:id="4a306b96-bc99-4aa5-b953-66cdf1cf3cfd" message="Queue Created Successfully"/>
	</flow>
	<flow name="sendMessageToQueue" doc:id="e24f5d65-8e1d-4cbc-b663-13d96a29ab9d" >
		<http:listener doc:name="Listener" doc:id="bc44b5bd-a7e0-448d-8d10-06ab0159ac6b" config-ref="HTTP_Listener_config" path="/sendMessage" allowedMethods="POST"/>
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;&#10;{&#10;	body: "This is a sample message." &#10;}&#10;as Object {&#10;	class: "org.mule.extension.sqs.api.model.Message"&#10;}]' doc:name="message" doc:id="cb198e2f-4e98-4a55-a9bc-19f9b1fe6bec" variableName="message"/>
		<sqs:send-message doc:name="Send message" doc:id="83fa486d-21d7-494c-a99e-35847f2c0138" queueUrl="${sqs.queueURL}" config-ref="Amazon_SQS_Configuration">
			<sqs:message ><![CDATA[#[vars.message]]]></sqs:message>
		</sqs:send-message>
		<logger level="INFO" doc:name="Messsage Sent Successfully" doc:id="74d1724c-ceed-4dbc-962b-4059bd5b585c" message="Messsage Sent Successfully"/>
		<set-payload value='#[{var1: "var1", var2: "var2", var3: "var3", var4: "val4", var5: "var5"}]' doc:name="sample payload" doc:id="89e8e8df-91ca-43ca-9df4-fc7e7b59284f" />
		<logger level="INFO" doc:name="new relic payload" doc:id="a009b788-626b-444e-9261-35913ef700ee" message='#[output application/json&#10;---&#10;{&#10;    "DocumentID": 1,&#10;    "eventType": "InsightsLogs",&#10;    "muleAppName": "new-relic-api",&#10;    "CreationDate": now(),&#10;	"severity": "LOW",&#10;	"env": "TEST",&#10;    "messageId": 1,&#10;	"payload": payload,&#10;    "result": "Entry Added Successfully.",&#10;    "endpoint": "/sendMessage"&#10;}]' />
	</flow>
	<flow name="receiveMessageFromQueue" doc:id="cd289001-dba7-4b9b-8b6b-45281c2cf503" >
		<sqs:receivemessages doc:name="Receive messages" doc:id="46fcc7d9-aa25-4ae5-9c5f-7013e651a2f0" queueUrl="${sqs.queueURL}" config-ref="Amazon_SQS_Configuration"/>
		<ee:transform doc:name="Java To JSON" doc:id="55805ef0-b467-4e0a-919a-937bff955ecc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="payload" doc:id="94670ceb-4e24-4b83-9061-5d2c17bdc7cc" message="#[payload]"/>
	</flow>
</mule>
